
/* common css var */
:root {
    --white-color: #fff;
    --black-color: #000;
    --grey-color: #ccc;
    --text-color: #333;
    --primary-color: #f7941d;
    --main-color: #283054;
    --background-main-color: #f25113;
    --width-80: calc(80%);
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family:"Helvetica Neue",sans-serif;
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    padding-left: 0px;
    margin: 0px;
}


.section-title {
    font-size: 3rem;
    color: #192041;
    font-weight: 700;
    display: flex;
    justify-content: center;
    text-transform:uppercase;
    padding: 70px 0px 45px;
    position: relative;
    line-height: 3rem;
    text-align: center;
}

.section-title::after {
    position:absolute;
    content:"";
    background-color: var(--primary-color);
    height:1px;
    width: 60px;
    bottom: 0px;
    display: block;
    margin-top: 30px;
}

.clear {
    clear: both;
}

.col-3 {
    width: calc(100%/3);
}

.col-half {
    width: calc(50%);
}

.col-full {
    width: calc(100%);
}


.display-none {
    display: none!important;
}

.display-block {
    display: block!important;
}

.dislay-flex {
    display: flex!important;
}



/* modal section  css*/

.modal-section {
    position: fixed;
    z-index: 99999999999999999999999999999999999999999999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal__overlay { 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container { 
    display: flex;
    width: 800px;
    
}

.modal__img-container { 
    width: 50%;
}

.modal__img { 
    width: 100%;
    height: 100%;
}


.modal__form-container {
    position: relative;
    
    width: 50%;
    padding: 40px;
    background: #fff;
}

.modal__form-exit{
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal__form-exit-icon {
    font-size: 2.4rem;
    cursor: pointer;
}


.modal__title { 
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.modal__form { 

}

.modal__call-to-action { 
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: bold;
}

.modal__form-input {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid #000;
}

.modal__form-input:focus {
    outline: none;
}

.modal__form-control { 
    margin: 16px 0px;
}


.modal__form-input-name { 

}

.modal__form-control { 

}

.modal__form-input-name { 

}

.modal__form-control { 

}

.modal__form-input-name { 

}

.modal__form-btn { 
    padding: 12px 24px;
    color: var(--white-color);
    background-color: rgb(227, 62, 60);
    font-size: 1.4rem;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    min-width: 200px;
    margin: 0 auto;
    display: block;
}

.modal__form-btn:hover { filter: brightness(60%)}

/* scroll - top - section */

.scroll-top-section {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    display: block;
    z-index: 99;
    background: #111;
    cursor: pointer;
}

.scroll-top-section:hover { 
    background-color: #a22531;
    color: #fff;
}

.scroll-top-icon {

}

